# Optional form backend. Leave unset to use mailto:zhongya789@gmail.com
# Formspree example: https://formspree.io/f/xxxxxxxx
# Getform example:   https://getform.io/f/xxxxxxxx
NEXT_PUBLIC_FORM_ENDPOINT=
